.grid-stack > .grid-stack-item {
  min-width: 0.5952380952%;
}
.grid-stack > .grid-stack-item[gs-w="0"] {
  width: 0%;
}
.grid-stack > .grid-stack-item[gs-x="0"] {
  left: 0%;
}
.grid-stack > .grid-stack-item[gs-min-w="0"] {
  min-width: 0%;
}
.grid-stack > .grid-stack-item[gs-max-w="0"] {
  max-width: 0%;
}
.grid-stack > .grid-stack-item[gs-w="1"] {
  width: 0.5952380952%;
}
.grid-stack > .grid-stack-item[gs-x="1"] {
  left: 0.5952380952%;
}
.grid-stack > .grid-stack-item[gs-min-w="1"] {
  min-width: 0.5952380952%;
}
.grid-stack > .grid-stack-item[gs-max-w="1"] {
  max-width: 0.5952380952%;
}
.grid-stack > .grid-stack-item[gs-w="2"] {
  width: 1.1904761905%;
}
.grid-stack > .grid-stack-item[gs-x="2"] {
  left: 1.1904761905%;
}
.grid-stack > .grid-stack-item[gs-min-w="2"] {
  min-width: 1.1904761905%;
}
.grid-stack > .grid-stack-item[gs-max-w="2"] {
  max-width: 1.1904761905%;
}
.grid-stack > .grid-stack-item[gs-w="3"] {
  width: 1.7857142857%;
}
.grid-stack > .grid-stack-item[gs-x="3"] {
  left: 1.7857142857%;
}
.grid-stack > .grid-stack-item[gs-min-w="3"] {
  min-width: 1.7857142857%;
}
.grid-stack > .grid-stack-item[gs-max-w="3"] {
  max-width: 1.7857142857%;
}
.grid-stack > .grid-stack-item[gs-w="4"] {
  width: 2.380952381%;
}
.grid-stack > .grid-stack-item[gs-x="4"] {
  left: 2.380952381%;
}
.grid-stack > .grid-stack-item[gs-min-w="4"] {
  min-width: 2.380952381%;
}
.grid-stack > .grid-stack-item[gs-max-w="4"] {
  max-width: 2.380952381%;
}
.grid-stack > .grid-stack-item[gs-w="5"] {
  width: 2.9761904762%;
}
.grid-stack > .grid-stack-item[gs-x="5"] {
  left: 2.9761904762%;
}
.grid-stack > .grid-stack-item[gs-min-w="5"] {
  min-width: 2.9761904762%;
}
.grid-stack > .grid-stack-item[gs-max-w="5"] {
  max-width: 2.9761904762%;
}
.grid-stack > .grid-stack-item[gs-w="6"] {
  width: 3.5714285714%;
}
.grid-stack > .grid-stack-item[gs-x="6"] {
  left: 3.5714285714%;
}
.grid-stack > .grid-stack-item[gs-min-w="6"] {
  min-width: 3.5714285714%;
}
.grid-stack > .grid-stack-item[gs-max-w="6"] {
  max-width: 3.5714285714%;
}
.grid-stack > .grid-stack-item[gs-w="7"] {
  width: 4.1666666667%;
}
.grid-stack > .grid-stack-item[gs-x="7"] {
  left: 4.1666666667%;
}
.grid-stack > .grid-stack-item[gs-min-w="7"] {
  min-width: 4.1666666667%;
}
.grid-stack > .grid-stack-item[gs-max-w="7"] {
  max-width: 4.1666666667%;
}
.grid-stack > .grid-stack-item[gs-w="8"] {
  width: 4.7619047619%;
}
.grid-stack > .grid-stack-item[gs-x="8"] {
  left: 4.7619047619%;
}
.grid-stack > .grid-stack-item[gs-min-w="8"] {
  min-width: 4.7619047619%;
}
.grid-stack > .grid-stack-item[gs-max-w="8"] {
  max-width: 4.7619047619%;
}
.grid-stack > .grid-stack-item[gs-w="9"] {
  width: 5.3571428571%;
}
.grid-stack > .grid-stack-item[gs-x="9"] {
  left: 5.3571428571%;
}
.grid-stack > .grid-stack-item[gs-min-w="9"] {
  min-width: 5.3571428571%;
}
.grid-stack > .grid-stack-item[gs-max-w="9"] {
  max-width: 5.3571428571%;
}
.grid-stack > .grid-stack-item[gs-w="10"] {
  width: 5.9523809524%;
}
.grid-stack > .grid-stack-item[gs-x="10"] {
  left: 5.9523809524%;
}
.grid-stack > .grid-stack-item[gs-min-w="10"] {
  min-width: 5.9523809524%;
}
.grid-stack > .grid-stack-item[gs-max-w="10"] {
  max-width: 5.9523809524%;
}
.grid-stack > .grid-stack-item[gs-w="11"] {
  width: 6.5476190476%;
}
.grid-stack > .grid-stack-item[gs-x="11"] {
  left: 6.5476190476%;
}
.grid-stack > .grid-stack-item[gs-min-w="11"] {
  min-width: 6.5476190476%;
}
.grid-stack > .grid-stack-item[gs-max-w="11"] {
  max-width: 6.5476190476%;
}
.grid-stack > .grid-stack-item[gs-w="12"] {
  width: 7.1428571429%;
}
.grid-stack > .grid-stack-item[gs-x="12"] {
  left: 7.1428571429%;
}
.grid-stack > .grid-stack-item[gs-min-w="12"] {
  min-width: 7.1428571429%;
}
.grid-stack > .grid-stack-item[gs-max-w="12"] {
  max-width: 7.1428571429%;
}
.grid-stack > .grid-stack-item[gs-w="13"] {
  width: 7.7380952381%;
}
.grid-stack > .grid-stack-item[gs-x="13"] {
  left: 7.7380952381%;
}
.grid-stack > .grid-stack-item[gs-min-w="13"] {
  min-width: 7.7380952381%;
}
.grid-stack > .grid-stack-item[gs-max-w="13"] {
  max-width: 7.7380952381%;
}
.grid-stack > .grid-stack-item[gs-w="14"] {
  width: 8.3333333333%;
}
.grid-stack > .grid-stack-item[gs-x="14"] {
  left: 8.3333333333%;
}
.grid-stack > .grid-stack-item[gs-min-w="14"] {
  min-width: 8.3333333333%;
}
.grid-stack > .grid-stack-item[gs-max-w="14"] {
  max-width: 8.3333333333%;
}
.grid-stack > .grid-stack-item[gs-w="15"] {
  width: 8.9285714286%;
}
.grid-stack > .grid-stack-item[gs-x="15"] {
  left: 8.9285714286%;
}
.grid-stack > .grid-stack-item[gs-min-w="15"] {
  min-width: 8.9285714286%;
}
.grid-stack > .grid-stack-item[gs-max-w="15"] {
  max-width: 8.9285714286%;
}
.grid-stack > .grid-stack-item[gs-w="16"] {
  width: 9.5238095238%;
}
.grid-stack > .grid-stack-item[gs-x="16"] {
  left: 9.5238095238%;
}
.grid-stack > .grid-stack-item[gs-min-w="16"] {
  min-width: 9.5238095238%;
}
.grid-stack > .grid-stack-item[gs-max-w="16"] {
  max-width: 9.5238095238%;
}
.grid-stack > .grid-stack-item[gs-w="17"] {
  width: 10.119047619%;
}
.grid-stack > .grid-stack-item[gs-x="17"] {
  left: 10.119047619%;
}
.grid-stack > .grid-stack-item[gs-min-w="17"] {
  min-width: 10.119047619%;
}
.grid-stack > .grid-stack-item[gs-max-w="17"] {
  max-width: 10.119047619%;
}
.grid-stack > .grid-stack-item[gs-w="18"] {
  width: 10.7142857143%;
}
.grid-stack > .grid-stack-item[gs-x="18"] {
  left: 10.7142857143%;
}
.grid-stack > .grid-stack-item[gs-min-w="18"] {
  min-width: 10.7142857143%;
}
.grid-stack > .grid-stack-item[gs-max-w="18"] {
  max-width: 10.7142857143%;
}
.grid-stack > .grid-stack-item[gs-w="19"] {
  width: 11.3095238095%;
}
.grid-stack > .grid-stack-item[gs-x="19"] {
  left: 11.3095238095%;
}
.grid-stack > .grid-stack-item[gs-min-w="19"] {
  min-width: 11.3095238095%;
}
.grid-stack > .grid-stack-item[gs-max-w="19"] {
  max-width: 11.3095238095%;
}
.grid-stack > .grid-stack-item[gs-w="20"] {
  width: 11.9047619048%;
}
.grid-stack > .grid-stack-item[gs-x="20"] {
  left: 11.9047619048%;
}
.grid-stack > .grid-stack-item[gs-min-w="20"] {
  min-width: 11.9047619048%;
}
.grid-stack > .grid-stack-item[gs-max-w="20"] {
  max-width: 11.9047619048%;
}
.grid-stack > .grid-stack-item[gs-w="21"] {
  width: 12.5%;
}
.grid-stack > .grid-stack-item[gs-x="21"] {
  left: 12.5%;
}
.grid-stack > .grid-stack-item[gs-min-w="21"] {
  min-width: 12.5%;
}
.grid-stack > .grid-stack-item[gs-max-w="21"] {
  max-width: 12.5%;
}
.grid-stack > .grid-stack-item[gs-w="22"] {
  width: 13.0952380952%;
}
.grid-stack > .grid-stack-item[gs-x="22"] {
  left: 13.0952380952%;
}
.grid-stack > .grid-stack-item[gs-min-w="22"] {
  min-width: 13.0952380952%;
}
.grid-stack > .grid-stack-item[gs-max-w="22"] {
  max-width: 13.0952380952%;
}
.grid-stack > .grid-stack-item[gs-w="23"] {
  width: 13.6904761905%;
}
.grid-stack > .grid-stack-item[gs-x="23"] {
  left: 13.6904761905%;
}
.grid-stack > .grid-stack-item[gs-min-w="23"] {
  min-width: 13.6904761905%;
}
.grid-stack > .grid-stack-item[gs-max-w="23"] {
  max-width: 13.6904761905%;
}
.grid-stack > .grid-stack-item[gs-w="24"] {
  width: 14.2857142857%;
}
.grid-stack > .grid-stack-item[gs-x="24"] {
  left: 14.2857142857%;
}
.grid-stack > .grid-stack-item[gs-min-w="24"] {
  min-width: 14.2857142857%;
}
.grid-stack > .grid-stack-item[gs-max-w="24"] {
  max-width: 14.2857142857%;
}
.grid-stack > .grid-stack-item[gs-w="25"] {
  width: 14.880952381%;
}
.grid-stack > .grid-stack-item[gs-x="25"] {
  left: 14.880952381%;
}
.grid-stack > .grid-stack-item[gs-min-w="25"] {
  min-width: 14.880952381%;
}
.grid-stack > .grid-stack-item[gs-max-w="25"] {
  max-width: 14.880952381%;
}
.grid-stack > .grid-stack-item[gs-w="26"] {
  width: 15.4761904762%;
}
.grid-stack > .grid-stack-item[gs-x="26"] {
  left: 15.4761904762%;
}
.grid-stack > .grid-stack-item[gs-min-w="26"] {
  min-width: 15.4761904762%;
}
.grid-stack > .grid-stack-item[gs-max-w="26"] {
  max-width: 15.4761904762%;
}
.grid-stack > .grid-stack-item[gs-w="27"] {
  width: 16.0714285714%;
}
.grid-stack > .grid-stack-item[gs-x="27"] {
  left: 16.0714285714%;
}
.grid-stack > .grid-stack-item[gs-min-w="27"] {
  min-width: 16.0714285714%;
}
.grid-stack > .grid-stack-item[gs-max-w="27"] {
  max-width: 16.0714285714%;
}
.grid-stack > .grid-stack-item[gs-w="28"] {
  width: 16.6666666667%;
}
.grid-stack > .grid-stack-item[gs-x="28"] {
  left: 16.6666666667%;
}
.grid-stack > .grid-stack-item[gs-min-w="28"] {
  min-width: 16.6666666667%;
}
.grid-stack > .grid-stack-item[gs-max-w="28"] {
  max-width: 16.6666666667%;
}
.grid-stack > .grid-stack-item[gs-w="29"] {
  width: 17.2619047619%;
}
.grid-stack > .grid-stack-item[gs-x="29"] {
  left: 17.2619047619%;
}
.grid-stack > .grid-stack-item[gs-min-w="29"] {
  min-width: 17.2619047619%;
}
.grid-stack > .grid-stack-item[gs-max-w="29"] {
  max-width: 17.2619047619%;
}
.grid-stack > .grid-stack-item[gs-w="30"] {
  width: 17.8571428571%;
}
.grid-stack > .grid-stack-item[gs-x="30"] {
  left: 17.8571428571%;
}
.grid-stack > .grid-stack-item[gs-min-w="30"] {
  min-width: 17.8571428571%;
}
.grid-stack > .grid-stack-item[gs-max-w="30"] {
  max-width: 17.8571428571%;
}
.grid-stack > .grid-stack-item[gs-w="31"] {
  width: 18.4523809524%;
}
.grid-stack > .grid-stack-item[gs-x="31"] {
  left: 18.4523809524%;
}
.grid-stack > .grid-stack-item[gs-min-w="31"] {
  min-width: 18.4523809524%;
}
.grid-stack > .grid-stack-item[gs-max-w="31"] {
  max-width: 18.4523809524%;
}
.grid-stack > .grid-stack-item[gs-w="32"] {
  width: 19.0476190476%;
}
.grid-stack > .grid-stack-item[gs-x="32"] {
  left: 19.0476190476%;
}
.grid-stack > .grid-stack-item[gs-min-w="32"] {
  min-width: 19.0476190476%;
}
.grid-stack > .grid-stack-item[gs-max-w="32"] {
  max-width: 19.0476190476%;
}
.grid-stack > .grid-stack-item[gs-w="33"] {
  width: 19.6428571429%;
}
.grid-stack > .grid-stack-item[gs-x="33"] {
  left: 19.6428571429%;
}
.grid-stack > .grid-stack-item[gs-min-w="33"] {
  min-width: 19.6428571429%;
}
.grid-stack > .grid-stack-item[gs-max-w="33"] {
  max-width: 19.6428571429%;
}
.grid-stack > .grid-stack-item[gs-w="34"] {
  width: 20.2380952381%;
}
.grid-stack > .grid-stack-item[gs-x="34"] {
  left: 20.2380952381%;
}
.grid-stack > .grid-stack-item[gs-min-w="34"] {
  min-width: 20.2380952381%;
}
.grid-stack > .grid-stack-item[gs-max-w="34"] {
  max-width: 20.2380952381%;
}
.grid-stack > .grid-stack-item[gs-w="35"] {
  width: 20.8333333333%;
}
.grid-stack > .grid-stack-item[gs-x="35"] {
  left: 20.8333333333%;
}
.grid-stack > .grid-stack-item[gs-min-w="35"] {
  min-width: 20.8333333333%;
}
.grid-stack > .grid-stack-item[gs-max-w="35"] {
  max-width: 20.8333333333%;
}
.grid-stack > .grid-stack-item[gs-w="36"] {
  width: 21.4285714286%;
}
.grid-stack > .grid-stack-item[gs-x="36"] {
  left: 21.4285714286%;
}
.grid-stack > .grid-stack-item[gs-min-w="36"] {
  min-width: 21.4285714286%;
}
.grid-stack > .grid-stack-item[gs-max-w="36"] {
  max-width: 21.4285714286%;
}
.grid-stack > .grid-stack-item[gs-w="37"] {
  width: 22.0238095238%;
}
.grid-stack > .grid-stack-item[gs-x="37"] {
  left: 22.0238095238%;
}
.grid-stack > .grid-stack-item[gs-min-w="37"] {
  min-width: 22.0238095238%;
}
.grid-stack > .grid-stack-item[gs-max-w="37"] {
  max-width: 22.0238095238%;
}
.grid-stack > .grid-stack-item[gs-w="38"] {
  width: 22.619047619%;
}
.grid-stack > .grid-stack-item[gs-x="38"] {
  left: 22.619047619%;
}
.grid-stack > .grid-stack-item[gs-min-w="38"] {
  min-width: 22.619047619%;
}
.grid-stack > .grid-stack-item[gs-max-w="38"] {
  max-width: 22.619047619%;
}
.grid-stack > .grid-stack-item[gs-w="39"] {
  width: 23.2142857143%;
}
.grid-stack > .grid-stack-item[gs-x="39"] {
  left: 23.2142857143%;
}
.grid-stack > .grid-stack-item[gs-min-w="39"] {
  min-width: 23.2142857143%;
}
.grid-stack > .grid-stack-item[gs-max-w="39"] {
  max-width: 23.2142857143%;
}
.grid-stack > .grid-stack-item[gs-w="40"] {
  width: 23.8095238095%;
}
.grid-stack > .grid-stack-item[gs-x="40"] {
  left: 23.8095238095%;
}
.grid-stack > .grid-stack-item[gs-min-w="40"] {
  min-width: 23.8095238095%;
}
.grid-stack > .grid-stack-item[gs-max-w="40"] {
  max-width: 23.8095238095%;
}
.grid-stack > .grid-stack-item[gs-w="41"] {
  width: 24.4047619048%;
}
.grid-stack > .grid-stack-item[gs-x="41"] {
  left: 24.4047619048%;
}
.grid-stack > .grid-stack-item[gs-min-w="41"] {
  min-width: 24.4047619048%;
}
.grid-stack > .grid-stack-item[gs-max-w="41"] {
  max-width: 24.4047619048%;
}
.grid-stack > .grid-stack-item[gs-w="42"] {
  width: 25%;
}
.grid-stack > .grid-stack-item[gs-x="42"] {
  left: 25%;
}
.grid-stack > .grid-stack-item[gs-min-w="42"] {
  min-width: 25%;
}
.grid-stack > .grid-stack-item[gs-max-w="42"] {
  max-width: 25%;
}
.grid-stack > .grid-stack-item[gs-w="43"] {
  width: 25.5952380952%;
}
.grid-stack > .grid-stack-item[gs-x="43"] {
  left: 25.5952380952%;
}
.grid-stack > .grid-stack-item[gs-min-w="43"] {
  min-width: 25.5952380952%;
}
.grid-stack > .grid-stack-item[gs-max-w="43"] {
  max-width: 25.5952380952%;
}
.grid-stack > .grid-stack-item[gs-w="44"] {
  width: 26.1904761905%;
}
.grid-stack > .grid-stack-item[gs-x="44"] {
  left: 26.1904761905%;
}
.grid-stack > .grid-stack-item[gs-min-w="44"] {
  min-width: 26.1904761905%;
}
.grid-stack > .grid-stack-item[gs-max-w="44"] {
  max-width: 26.1904761905%;
}
.grid-stack > .grid-stack-item[gs-w="45"] {
  width: 26.7857142857%;
}
.grid-stack > .grid-stack-item[gs-x="45"] {
  left: 26.7857142857%;
}
.grid-stack > .grid-stack-item[gs-min-w="45"] {
  min-width: 26.7857142857%;
}
.grid-stack > .grid-stack-item[gs-max-w="45"] {
  max-width: 26.7857142857%;
}
.grid-stack > .grid-stack-item[gs-w="46"] {
  width: 27.380952381%;
}
.grid-stack > .grid-stack-item[gs-x="46"] {
  left: 27.380952381%;
}
.grid-stack > .grid-stack-item[gs-min-w="46"] {
  min-width: 27.380952381%;
}
.grid-stack > .grid-stack-item[gs-max-w="46"] {
  max-width: 27.380952381%;
}
.grid-stack > .grid-stack-item[gs-w="47"] {
  width: 27.9761904762%;
}
.grid-stack > .grid-stack-item[gs-x="47"] {
  left: 27.9761904762%;
}
.grid-stack > .grid-stack-item[gs-min-w="47"] {
  min-width: 27.9761904762%;
}
.grid-stack > .grid-stack-item[gs-max-w="47"] {
  max-width: 27.9761904762%;
}
.grid-stack > .grid-stack-item[gs-w="48"] {
  width: 28.5714285714%;
}
.grid-stack > .grid-stack-item[gs-x="48"] {
  left: 28.5714285714%;
}
.grid-stack > .grid-stack-item[gs-min-w="48"] {
  min-width: 28.5714285714%;
}
.grid-stack > .grid-stack-item[gs-max-w="48"] {
  max-width: 28.5714285714%;
}
.grid-stack > .grid-stack-item[gs-w="49"] {
  width: 29.1666666667%;
}
.grid-stack > .grid-stack-item[gs-x="49"] {
  left: 29.1666666667%;
}
.grid-stack > .grid-stack-item[gs-min-w="49"] {
  min-width: 29.1666666667%;
}
.grid-stack > .grid-stack-item[gs-max-w="49"] {
  max-width: 29.1666666667%;
}
.grid-stack > .grid-stack-item[gs-w="50"] {
  width: 29.7619047619%;
}
.grid-stack > .grid-stack-item[gs-x="50"] {
  left: 29.7619047619%;
}
.grid-stack > .grid-stack-item[gs-min-w="50"] {
  min-width: 29.7619047619%;
}
.grid-stack > .grid-stack-item[gs-max-w="50"] {
  max-width: 29.7619047619%;
}
.grid-stack > .grid-stack-item[gs-w="51"] {
  width: 30.3571428571%;
}
.grid-stack > .grid-stack-item[gs-x="51"] {
  left: 30.3571428571%;
}
.grid-stack > .grid-stack-item[gs-min-w="51"] {
  min-width: 30.3571428571%;
}
.grid-stack > .grid-stack-item[gs-max-w="51"] {
  max-width: 30.3571428571%;
}
.grid-stack > .grid-stack-item[gs-w="52"] {
  width: 30.9523809524%;
}
.grid-stack > .grid-stack-item[gs-x="52"] {
  left: 30.9523809524%;
}
.grid-stack > .grid-stack-item[gs-min-w="52"] {
  min-width: 30.9523809524%;
}
.grid-stack > .grid-stack-item[gs-max-w="52"] {
  max-width: 30.9523809524%;
}
.grid-stack > .grid-stack-item[gs-w="53"] {
  width: 31.5476190476%;
}
.grid-stack > .grid-stack-item[gs-x="53"] {
  left: 31.5476190476%;
}
.grid-stack > .grid-stack-item[gs-min-w="53"] {
  min-width: 31.5476190476%;
}
.grid-stack > .grid-stack-item[gs-max-w="53"] {
  max-width: 31.5476190476%;
}
.grid-stack > .grid-stack-item[gs-w="54"] {
  width: 32.1428571429%;
}
.grid-stack > .grid-stack-item[gs-x="54"] {
  left: 32.1428571429%;
}
.grid-stack > .grid-stack-item[gs-min-w="54"] {
  min-width: 32.1428571429%;
}
.grid-stack > .grid-stack-item[gs-max-w="54"] {
  max-width: 32.1428571429%;
}
.grid-stack > .grid-stack-item[gs-w="55"] {
  width: 32.7380952381%;
}
.grid-stack > .grid-stack-item[gs-x="55"] {
  left: 32.7380952381%;
}
.grid-stack > .grid-stack-item[gs-min-w="55"] {
  min-width: 32.7380952381%;
}
.grid-stack > .grid-stack-item[gs-max-w="55"] {
  max-width: 32.7380952381%;
}
.grid-stack > .grid-stack-item[gs-w="56"] {
  width: 33.3333333333%;
}
.grid-stack > .grid-stack-item[gs-x="56"] {
  left: 33.3333333333%;
}
.grid-stack > .grid-stack-item[gs-min-w="56"] {
  min-width: 33.3333333333%;
}
.grid-stack > .grid-stack-item[gs-max-w="56"] {
  max-width: 33.3333333333%;
}
.grid-stack > .grid-stack-item[gs-w="57"] {
  width: 33.9285714286%;
}
.grid-stack > .grid-stack-item[gs-x="57"] {
  left: 33.9285714286%;
}
.grid-stack > .grid-stack-item[gs-min-w="57"] {
  min-width: 33.9285714286%;
}
.grid-stack > .grid-stack-item[gs-max-w="57"] {
  max-width: 33.9285714286%;
}
.grid-stack > .grid-stack-item[gs-w="58"] {
  width: 34.5238095238%;
}
.grid-stack > .grid-stack-item[gs-x="58"] {
  left: 34.5238095238%;
}
.grid-stack > .grid-stack-item[gs-min-w="58"] {
  min-width: 34.5238095238%;
}
.grid-stack > .grid-stack-item[gs-max-w="58"] {
  max-width: 34.5238095238%;
}
.grid-stack > .grid-stack-item[gs-w="59"] {
  width: 35.119047619%;
}
.grid-stack > .grid-stack-item[gs-x="59"] {
  left: 35.119047619%;
}
.grid-stack > .grid-stack-item[gs-min-w="59"] {
  min-width: 35.119047619%;
}
.grid-stack > .grid-stack-item[gs-max-w="59"] {
  max-width: 35.119047619%;
}
.grid-stack > .grid-stack-item[gs-w="60"] {
  width: 35.7142857143%;
}
.grid-stack > .grid-stack-item[gs-x="60"] {
  left: 35.7142857143%;
}
.grid-stack > .grid-stack-item[gs-min-w="60"] {
  min-width: 35.7142857143%;
}
.grid-stack > .grid-stack-item[gs-max-w="60"] {
  max-width: 35.7142857143%;
}
.grid-stack > .grid-stack-item[gs-w="61"] {
  width: 36.3095238095%;
}
.grid-stack > .grid-stack-item[gs-x="61"] {
  left: 36.3095238095%;
}
.grid-stack > .grid-stack-item[gs-min-w="61"] {
  min-width: 36.3095238095%;
}
.grid-stack > .grid-stack-item[gs-max-w="61"] {
  max-width: 36.3095238095%;
}
.grid-stack > .grid-stack-item[gs-w="62"] {
  width: 36.9047619048%;
}
.grid-stack > .grid-stack-item[gs-x="62"] {
  left: 36.9047619048%;
}
.grid-stack > .grid-stack-item[gs-min-w="62"] {
  min-width: 36.9047619048%;
}
.grid-stack > .grid-stack-item[gs-max-w="62"] {
  max-width: 36.9047619048%;
}
.grid-stack > .grid-stack-item[gs-w="63"] {
  width: 37.5%;
}
.grid-stack > .grid-stack-item[gs-x="63"] {
  left: 37.5%;
}
.grid-stack > .grid-stack-item[gs-min-w="63"] {
  min-width: 37.5%;
}
.grid-stack > .grid-stack-item[gs-max-w="63"] {
  max-width: 37.5%;
}
.grid-stack > .grid-stack-item[gs-w="64"] {
  width: 38.0952380952%;
}
.grid-stack > .grid-stack-item[gs-x="64"] {
  left: 38.0952380952%;
}
.grid-stack > .grid-stack-item[gs-min-w="64"] {
  min-width: 38.0952380952%;
}
.grid-stack > .grid-stack-item[gs-max-w="64"] {
  max-width: 38.0952380952%;
}
.grid-stack > .grid-stack-item[gs-w="65"] {
  width: 38.6904761905%;
}
.grid-stack > .grid-stack-item[gs-x="65"] {
  left: 38.6904761905%;
}
.grid-stack > .grid-stack-item[gs-min-w="65"] {
  min-width: 38.6904761905%;
}
.grid-stack > .grid-stack-item[gs-max-w="65"] {
  max-width: 38.6904761905%;
}
.grid-stack > .grid-stack-item[gs-w="66"] {
  width: 39.2857142857%;
}
.grid-stack > .grid-stack-item[gs-x="66"] {
  left: 39.2857142857%;
}
.grid-stack > .grid-stack-item[gs-min-w="66"] {
  min-width: 39.2857142857%;
}
.grid-stack > .grid-stack-item[gs-max-w="66"] {
  max-width: 39.2857142857%;
}
.grid-stack > .grid-stack-item[gs-w="67"] {
  width: 39.880952381%;
}
.grid-stack > .grid-stack-item[gs-x="67"] {
  left: 39.880952381%;
}
.grid-stack > .grid-stack-item[gs-min-w="67"] {
  min-width: 39.880952381%;
}
.grid-stack > .grid-stack-item[gs-max-w="67"] {
  max-width: 39.880952381%;
}
.grid-stack > .grid-stack-item[gs-w="68"] {
  width: 40.4761904762%;
}
.grid-stack > .grid-stack-item[gs-x="68"] {
  left: 40.4761904762%;
}
.grid-stack > .grid-stack-item[gs-min-w="68"] {
  min-width: 40.4761904762%;
}
.grid-stack > .grid-stack-item[gs-max-w="68"] {
  max-width: 40.4761904762%;
}
.grid-stack > .grid-stack-item[gs-w="69"] {
  width: 41.0714285714%;
}
.grid-stack > .grid-stack-item[gs-x="69"] {
  left: 41.0714285714%;
}
.grid-stack > .grid-stack-item[gs-min-w="69"] {
  min-width: 41.0714285714%;
}
.grid-stack > .grid-stack-item[gs-max-w="69"] {
  max-width: 41.0714285714%;
}
.grid-stack > .grid-stack-item[gs-w="70"] {
  width: 41.6666666667%;
}
.grid-stack > .grid-stack-item[gs-x="70"] {
  left: 41.6666666667%;
}
.grid-stack > .grid-stack-item[gs-min-w="70"] {
  min-width: 41.6666666667%;
}
.grid-stack > .grid-stack-item[gs-max-w="70"] {
  max-width: 41.6666666667%;
}
.grid-stack > .grid-stack-item[gs-w="71"] {
  width: 42.2619047619%;
}
.grid-stack > .grid-stack-item[gs-x="71"] {
  left: 42.2619047619%;
}
.grid-stack > .grid-stack-item[gs-min-w="71"] {
  min-width: 42.2619047619%;
}
.grid-stack > .grid-stack-item[gs-max-w="71"] {
  max-width: 42.2619047619%;
}
.grid-stack > .grid-stack-item[gs-w="72"] {
  width: 42.8571428571%;
}
.grid-stack > .grid-stack-item[gs-x="72"] {
  left: 42.8571428571%;
}
.grid-stack > .grid-stack-item[gs-min-w="72"] {
  min-width: 42.8571428571%;
}
.grid-stack > .grid-stack-item[gs-max-w="72"] {
  max-width: 42.8571428571%;
}
.grid-stack > .grid-stack-item[gs-w="73"] {
  width: 43.4523809524%;
}
.grid-stack > .grid-stack-item[gs-x="73"] {
  left: 43.4523809524%;
}
.grid-stack > .grid-stack-item[gs-min-w="73"] {
  min-width: 43.4523809524%;
}
.grid-stack > .grid-stack-item[gs-max-w="73"] {
  max-width: 43.4523809524%;
}
.grid-stack > .grid-stack-item[gs-w="74"] {
  width: 44.0476190476%;
}
.grid-stack > .grid-stack-item[gs-x="74"] {
  left: 44.0476190476%;
}
.grid-stack > .grid-stack-item[gs-min-w="74"] {
  min-width: 44.0476190476%;
}
.grid-stack > .grid-stack-item[gs-max-w="74"] {
  max-width: 44.0476190476%;
}
.grid-stack > .grid-stack-item[gs-w="75"] {
  width: 44.6428571429%;
}
.grid-stack > .grid-stack-item[gs-x="75"] {
  left: 44.6428571429%;
}
.grid-stack > .grid-stack-item[gs-min-w="75"] {
  min-width: 44.6428571429%;
}
.grid-stack > .grid-stack-item[gs-max-w="75"] {
  max-width: 44.6428571429%;
}
.grid-stack > .grid-stack-item[gs-w="76"] {
  width: 45.2380952381%;
}
.grid-stack > .grid-stack-item[gs-x="76"] {
  left: 45.2380952381%;
}
.grid-stack > .grid-stack-item[gs-min-w="76"] {
  min-width: 45.2380952381%;
}
.grid-stack > .grid-stack-item[gs-max-w="76"] {
  max-width: 45.2380952381%;
}
.grid-stack > .grid-stack-item[gs-w="77"] {
  width: 45.8333333333%;
}
.grid-stack > .grid-stack-item[gs-x="77"] {
  left: 45.8333333333%;
}
.grid-stack > .grid-stack-item[gs-min-w="77"] {
  min-width: 45.8333333333%;
}
.grid-stack > .grid-stack-item[gs-max-w="77"] {
  max-width: 45.8333333333%;
}
.grid-stack > .grid-stack-item[gs-w="78"] {
  width: 46.4285714286%;
}
.grid-stack > .grid-stack-item[gs-x="78"] {
  left: 46.4285714286%;
}
.grid-stack > .grid-stack-item[gs-min-w="78"] {
  min-width: 46.4285714286%;
}
.grid-stack > .grid-stack-item[gs-max-w="78"] {
  max-width: 46.4285714286%;
}
.grid-stack > .grid-stack-item[gs-w="79"] {
  width: 47.0238095238%;
}
.grid-stack > .grid-stack-item[gs-x="79"] {
  left: 47.0238095238%;
}
.grid-stack > .grid-stack-item[gs-min-w="79"] {
  min-width: 47.0238095238%;
}
.grid-stack > .grid-stack-item[gs-max-w="79"] {
  max-width: 47.0238095238%;
}
.grid-stack > .grid-stack-item[gs-w="80"] {
  width: 47.619047619%;
}
.grid-stack > .grid-stack-item[gs-x="80"] {
  left: 47.619047619%;
}
.grid-stack > .grid-stack-item[gs-min-w="80"] {
  min-width: 47.619047619%;
}
.grid-stack > .grid-stack-item[gs-max-w="80"] {
  max-width: 47.619047619%;
}
.grid-stack > .grid-stack-item[gs-w="81"] {
  width: 48.2142857143%;
}
.grid-stack > .grid-stack-item[gs-x="81"] {
  left: 48.2142857143%;
}
.grid-stack > .grid-stack-item[gs-min-w="81"] {
  min-width: 48.2142857143%;
}
.grid-stack > .grid-stack-item[gs-max-w="81"] {
  max-width: 48.2142857143%;
}
.grid-stack > .grid-stack-item[gs-w="82"] {
  width: 48.8095238095%;
}
.grid-stack > .grid-stack-item[gs-x="82"] {
  left: 48.8095238095%;
}
.grid-stack > .grid-stack-item[gs-min-w="82"] {
  min-width: 48.8095238095%;
}
.grid-stack > .grid-stack-item[gs-max-w="82"] {
  max-width: 48.8095238095%;
}
.grid-stack > .grid-stack-item[gs-w="83"] {
  width: 49.4047619048%;
}
.grid-stack > .grid-stack-item[gs-x="83"] {
  left: 49.4047619048%;
}
.grid-stack > .grid-stack-item[gs-min-w="83"] {
  min-width: 49.4047619048%;
}
.grid-stack > .grid-stack-item[gs-max-w="83"] {
  max-width: 49.4047619048%;
}
.grid-stack > .grid-stack-item[gs-w="84"] {
  width: 50%;
}
.grid-stack > .grid-stack-item[gs-x="84"] {
  left: 50%;
}
.grid-stack > .grid-stack-item[gs-min-w="84"] {
  min-width: 50%;
}
.grid-stack > .grid-stack-item[gs-max-w="84"] {
  max-width: 50%;
}
.grid-stack > .grid-stack-item[gs-w="85"] {
  width: 50.5952380952%;
}
.grid-stack > .grid-stack-item[gs-x="85"] {
  left: 50.5952380952%;
}
.grid-stack > .grid-stack-item[gs-min-w="85"] {
  min-width: 50.5952380952%;
}
.grid-stack > .grid-stack-item[gs-max-w="85"] {
  max-width: 50.5952380952%;
}
.grid-stack > .grid-stack-item[gs-w="86"] {
  width: 51.1904761905%;
}
.grid-stack > .grid-stack-item[gs-x="86"] {
  left: 51.1904761905%;
}
.grid-stack > .grid-stack-item[gs-min-w="86"] {
  min-width: 51.1904761905%;
}
.grid-stack > .grid-stack-item[gs-max-w="86"] {
  max-width: 51.1904761905%;
}
.grid-stack > .grid-stack-item[gs-w="87"] {
  width: 51.7857142857%;
}
.grid-stack > .grid-stack-item[gs-x="87"] {
  left: 51.7857142857%;
}
.grid-stack > .grid-stack-item[gs-min-w="87"] {
  min-width: 51.7857142857%;
}
.grid-stack > .grid-stack-item[gs-max-w="87"] {
  max-width: 51.7857142857%;
}
.grid-stack > .grid-stack-item[gs-w="88"] {
  width: 52.380952381%;
}
.grid-stack > .grid-stack-item[gs-x="88"] {
  left: 52.380952381%;
}
.grid-stack > .grid-stack-item[gs-min-w="88"] {
  min-width: 52.380952381%;
}
.grid-stack > .grid-stack-item[gs-max-w="88"] {
  max-width: 52.380952381%;
}
.grid-stack > .grid-stack-item[gs-w="89"] {
  width: 52.9761904762%;
}
.grid-stack > .grid-stack-item[gs-x="89"] {
  left: 52.9761904762%;
}
.grid-stack > .grid-stack-item[gs-min-w="89"] {
  min-width: 52.9761904762%;
}
.grid-stack > .grid-stack-item[gs-max-w="89"] {
  max-width: 52.9761904762%;
}
.grid-stack > .grid-stack-item[gs-w="90"] {
  width: 53.5714285714%;
}
.grid-stack > .grid-stack-item[gs-x="90"] {
  left: 53.5714285714%;
}
.grid-stack > .grid-stack-item[gs-min-w="90"] {
  min-width: 53.5714285714%;
}
.grid-stack > .grid-stack-item[gs-max-w="90"] {
  max-width: 53.5714285714%;
}
.grid-stack > .grid-stack-item[gs-w="91"] {
  width: 54.1666666667%;
}
.grid-stack > .grid-stack-item[gs-x="91"] {
  left: 54.1666666667%;
}
.grid-stack > .grid-stack-item[gs-min-w="91"] {
  min-width: 54.1666666667%;
}
.grid-stack > .grid-stack-item[gs-max-w="91"] {
  max-width: 54.1666666667%;
}
.grid-stack > .grid-stack-item[gs-w="92"] {
  width: 54.7619047619%;
}
.grid-stack > .grid-stack-item[gs-x="92"] {
  left: 54.7619047619%;
}
.grid-stack > .grid-stack-item[gs-min-w="92"] {
  min-width: 54.7619047619%;
}
.grid-stack > .grid-stack-item[gs-max-w="92"] {
  max-width: 54.7619047619%;
}
.grid-stack > .grid-stack-item[gs-w="93"] {
  width: 55.3571428571%;
}
.grid-stack > .grid-stack-item[gs-x="93"] {
  left: 55.3571428571%;
}
.grid-stack > .grid-stack-item[gs-min-w="93"] {
  min-width: 55.3571428571%;
}
.grid-stack > .grid-stack-item[gs-max-w="93"] {
  max-width: 55.3571428571%;
}
.grid-stack > .grid-stack-item[gs-w="94"] {
  width: 55.9523809524%;
}
.grid-stack > .grid-stack-item[gs-x="94"] {
  left: 55.9523809524%;
}
.grid-stack > .grid-stack-item[gs-min-w="94"] {
  min-width: 55.9523809524%;
}
.grid-stack > .grid-stack-item[gs-max-w="94"] {
  max-width: 55.9523809524%;
}
.grid-stack > .grid-stack-item[gs-w="95"] {
  width: 56.5476190476%;
}
.grid-stack > .grid-stack-item[gs-x="95"] {
  left: 56.5476190476%;
}
.grid-stack > .grid-stack-item[gs-min-w="95"] {
  min-width: 56.5476190476%;
}
.grid-stack > .grid-stack-item[gs-max-w="95"] {
  max-width: 56.5476190476%;
}
.grid-stack > .grid-stack-item[gs-w="96"] {
  width: 57.1428571429%;
}
.grid-stack > .grid-stack-item[gs-x="96"] {
  left: 57.1428571429%;
}
.grid-stack > .grid-stack-item[gs-min-w="96"] {
  min-width: 57.1428571429%;
}
.grid-stack > .grid-stack-item[gs-max-w="96"] {
  max-width: 57.1428571429%;
}
.grid-stack > .grid-stack-item[gs-w="97"] {
  width: 57.7380952381%;
}
.grid-stack > .grid-stack-item[gs-x="97"] {
  left: 57.7380952381%;
}
.grid-stack > .grid-stack-item[gs-min-w="97"] {
  min-width: 57.7380952381%;
}
.grid-stack > .grid-stack-item[gs-max-w="97"] {
  max-width: 57.7380952381%;
}
.grid-stack > .grid-stack-item[gs-w="98"] {
  width: 58.3333333333%;
}
.grid-stack > .grid-stack-item[gs-x="98"] {
  left: 58.3333333333%;
}
.grid-stack > .grid-stack-item[gs-min-w="98"] {
  min-width: 58.3333333333%;
}
.grid-stack > .grid-stack-item[gs-max-w="98"] {
  max-width: 58.3333333333%;
}
.grid-stack > .grid-stack-item[gs-w="99"] {
  width: 58.9285714286%;
}
.grid-stack > .grid-stack-item[gs-x="99"] {
  left: 58.9285714286%;
}
.grid-stack > .grid-stack-item[gs-min-w="99"] {
  min-width: 58.9285714286%;
}
.grid-stack > .grid-stack-item[gs-max-w="99"] {
  max-width: 58.9285714286%;
}
.grid-stack > .grid-stack-item[gs-w="100"] {
  width: 59.5238095238%;
}
.grid-stack > .grid-stack-item[gs-x="100"] {
  left: 59.5238095238%;
}
.grid-stack > .grid-stack-item[gs-min-w="100"] {
  min-width: 59.5238095238%;
}
.grid-stack > .grid-stack-item[gs-max-w="100"] {
  max-width: 59.5238095238%;
}
.grid-stack > .grid-stack-item[gs-w="101"] {
  width: 60.119047619%;
}
.grid-stack > .grid-stack-item[gs-x="101"] {
  left: 60.119047619%;
}
.grid-stack > .grid-stack-item[gs-min-w="101"] {
  min-width: 60.119047619%;
}
.grid-stack > .grid-stack-item[gs-max-w="101"] {
  max-width: 60.119047619%;
}
.grid-stack > .grid-stack-item[gs-w="102"] {
  width: 60.7142857143%;
}
.grid-stack > .grid-stack-item[gs-x="102"] {
  left: 60.7142857143%;
}
.grid-stack > .grid-stack-item[gs-min-w="102"] {
  min-width: 60.7142857143%;
}
.grid-stack > .grid-stack-item[gs-max-w="102"] {
  max-width: 60.7142857143%;
}
.grid-stack > .grid-stack-item[gs-w="103"] {
  width: 61.3095238095%;
}
.grid-stack > .grid-stack-item[gs-x="103"] {
  left: 61.3095238095%;
}
.grid-stack > .grid-stack-item[gs-min-w="103"] {
  min-width: 61.3095238095%;
}
.grid-stack > .grid-stack-item[gs-max-w="103"] {
  max-width: 61.3095238095%;
}
.grid-stack > .grid-stack-item[gs-w="104"] {
  width: 61.9047619048%;
}
.grid-stack > .grid-stack-item[gs-x="104"] {
  left: 61.9047619048%;
}
.grid-stack > .grid-stack-item[gs-min-w="104"] {
  min-width: 61.9047619048%;
}
.grid-stack > .grid-stack-item[gs-max-w="104"] {
  max-width: 61.9047619048%;
}
.grid-stack > .grid-stack-item[gs-w="105"] {
  width: 62.5%;
}
.grid-stack > .grid-stack-item[gs-x="105"] {
  left: 62.5%;
}
.grid-stack > .grid-stack-item[gs-min-w="105"] {
  min-width: 62.5%;
}
.grid-stack > .grid-stack-item[gs-max-w="105"] {
  max-width: 62.5%;
}
.grid-stack > .grid-stack-item[gs-w="106"] {
  width: 63.0952380952%;
}
.grid-stack > .grid-stack-item[gs-x="106"] {
  left: 63.0952380952%;
}
.grid-stack > .grid-stack-item[gs-min-w="106"] {
  min-width: 63.0952380952%;
}
.grid-stack > .grid-stack-item[gs-max-w="106"] {
  max-width: 63.0952380952%;
}
.grid-stack > .grid-stack-item[gs-w="107"] {
  width: 63.6904761905%;
}
.grid-stack > .grid-stack-item[gs-x="107"] {
  left: 63.6904761905%;
}
.grid-stack > .grid-stack-item[gs-min-w="107"] {
  min-width: 63.6904761905%;
}
.grid-stack > .grid-stack-item[gs-max-w="107"] {
  max-width: 63.6904761905%;
}
.grid-stack > .grid-stack-item[gs-w="108"] {
  width: 64.2857142857%;
}
.grid-stack > .grid-stack-item[gs-x="108"] {
  left: 64.2857142857%;
}
.grid-stack > .grid-stack-item[gs-min-w="108"] {
  min-width: 64.2857142857%;
}
.grid-stack > .grid-stack-item[gs-max-w="108"] {
  max-width: 64.2857142857%;
}
.grid-stack > .grid-stack-item[gs-w="109"] {
  width: 64.880952381%;
}
.grid-stack > .grid-stack-item[gs-x="109"] {
  left: 64.880952381%;
}
.grid-stack > .grid-stack-item[gs-min-w="109"] {
  min-width: 64.880952381%;
}
.grid-stack > .grid-stack-item[gs-max-w="109"] {
  max-width: 64.880952381%;
}
.grid-stack > .grid-stack-item[gs-w="110"] {
  width: 65.4761904762%;
}
.grid-stack > .grid-stack-item[gs-x="110"] {
  left: 65.4761904762%;
}
.grid-stack > .grid-stack-item[gs-min-w="110"] {
  min-width: 65.4761904762%;
}
.grid-stack > .grid-stack-item[gs-max-w="110"] {
  max-width: 65.4761904762%;
}
.grid-stack > .grid-stack-item[gs-w="111"] {
  width: 66.0714285714%;
}
.grid-stack > .grid-stack-item[gs-x="111"] {
  left: 66.0714285714%;
}
.grid-stack > .grid-stack-item[gs-min-w="111"] {
  min-width: 66.0714285714%;
}
.grid-stack > .grid-stack-item[gs-max-w="111"] {
  max-width: 66.0714285714%;
}
.grid-stack > .grid-stack-item[gs-w="112"] {
  width: 66.6666666667%;
}
.grid-stack > .grid-stack-item[gs-x="112"] {
  left: 66.6666666667%;
}
.grid-stack > .grid-stack-item[gs-min-w="112"] {
  min-width: 66.6666666667%;
}
.grid-stack > .grid-stack-item[gs-max-w="112"] {
  max-width: 66.6666666667%;
}
.grid-stack > .grid-stack-item[gs-w="113"] {
  width: 67.2619047619%;
}
.grid-stack > .grid-stack-item[gs-x="113"] {
  left: 67.2619047619%;
}
.grid-stack > .grid-stack-item[gs-min-w="113"] {
  min-width: 67.2619047619%;
}
.grid-stack > .grid-stack-item[gs-max-w="113"] {
  max-width: 67.2619047619%;
}
.grid-stack > .grid-stack-item[gs-w="114"] {
  width: 67.8571428571%;
}
.grid-stack > .grid-stack-item[gs-x="114"] {
  left: 67.8571428571%;
}
.grid-stack > .grid-stack-item[gs-min-w="114"] {
  min-width: 67.8571428571%;
}
.grid-stack > .grid-stack-item[gs-max-w="114"] {
  max-width: 67.8571428571%;
}
.grid-stack > .grid-stack-item[gs-w="115"] {
  width: 68.4523809524%;
}
.grid-stack > .grid-stack-item[gs-x="115"] {
  left: 68.4523809524%;
}
.grid-stack > .grid-stack-item[gs-min-w="115"] {
  min-width: 68.4523809524%;
}
.grid-stack > .grid-stack-item[gs-max-w="115"] {
  max-width: 68.4523809524%;
}
.grid-stack > .grid-stack-item[gs-w="116"] {
  width: 69.0476190476%;
}
.grid-stack > .grid-stack-item[gs-x="116"] {
  left: 69.0476190476%;
}
.grid-stack > .grid-stack-item[gs-min-w="116"] {
  min-width: 69.0476190476%;
}
.grid-stack > .grid-stack-item[gs-max-w="116"] {
  max-width: 69.0476190476%;
}
.grid-stack > .grid-stack-item[gs-w="117"] {
  width: 69.6428571429%;
}
.grid-stack > .grid-stack-item[gs-x="117"] {
  left: 69.6428571429%;
}
.grid-stack > .grid-stack-item[gs-min-w="117"] {
  min-width: 69.6428571429%;
}
.grid-stack > .grid-stack-item[gs-max-w="117"] {
  max-width: 69.6428571429%;
}
.grid-stack > .grid-stack-item[gs-w="118"] {
  width: 70.2380952381%;
}
.grid-stack > .grid-stack-item[gs-x="118"] {
  left: 70.2380952381%;
}
.grid-stack > .grid-stack-item[gs-min-w="118"] {
  min-width: 70.2380952381%;
}
.grid-stack > .grid-stack-item[gs-max-w="118"] {
  max-width: 70.2380952381%;
}
.grid-stack > .grid-stack-item[gs-w="119"] {
  width: 70.8333333333%;
}
.grid-stack > .grid-stack-item[gs-x="119"] {
  left: 70.8333333333%;
}
.grid-stack > .grid-stack-item[gs-min-w="119"] {
  min-width: 70.8333333333%;
}
.grid-stack > .grid-stack-item[gs-max-w="119"] {
  max-width: 70.8333333333%;
}
.grid-stack > .grid-stack-item[gs-w="120"] {
  width: 71.4285714286%;
}
.grid-stack > .grid-stack-item[gs-x="120"] {
  left: 71.4285714286%;
}
.grid-stack > .grid-stack-item[gs-min-w="120"] {
  min-width: 71.4285714286%;
}
.grid-stack > .grid-stack-item[gs-max-w="120"] {
  max-width: 71.4285714286%;
}
.grid-stack > .grid-stack-item[gs-w="121"] {
  width: 72.0238095238%;
}
.grid-stack > .grid-stack-item[gs-x="121"] {
  left: 72.0238095238%;
}
.grid-stack > .grid-stack-item[gs-min-w="121"] {
  min-width: 72.0238095238%;
}
.grid-stack > .grid-stack-item[gs-max-w="121"] {
  max-width: 72.0238095238%;
}
.grid-stack > .grid-stack-item[gs-w="122"] {
  width: 72.619047619%;
}
.grid-stack > .grid-stack-item[gs-x="122"] {
  left: 72.619047619%;
}
.grid-stack > .grid-stack-item[gs-min-w="122"] {
  min-width: 72.619047619%;
}
.grid-stack > .grid-stack-item[gs-max-w="122"] {
  max-width: 72.619047619%;
}
.grid-stack > .grid-stack-item[gs-w="123"] {
  width: 73.2142857143%;
}
.grid-stack > .grid-stack-item[gs-x="123"] {
  left: 73.2142857143%;
}
.grid-stack > .grid-stack-item[gs-min-w="123"] {
  min-width: 73.2142857143%;
}
.grid-stack > .grid-stack-item[gs-max-w="123"] {
  max-width: 73.2142857143%;
}
.grid-stack > .grid-stack-item[gs-w="124"] {
  width: 73.8095238095%;
}
.grid-stack > .grid-stack-item[gs-x="124"] {
  left: 73.8095238095%;
}
.grid-stack > .grid-stack-item[gs-min-w="124"] {
  min-width: 73.8095238095%;
}
.grid-stack > .grid-stack-item[gs-max-w="124"] {
  max-width: 73.8095238095%;
}
.grid-stack > .grid-stack-item[gs-w="125"] {
  width: 74.4047619048%;
}
.grid-stack > .grid-stack-item[gs-x="125"] {
  left: 74.4047619048%;
}
.grid-stack > .grid-stack-item[gs-min-w="125"] {
  min-width: 74.4047619048%;
}
.grid-stack > .grid-stack-item[gs-max-w="125"] {
  max-width: 74.4047619048%;
}
.grid-stack > .grid-stack-item[gs-w="126"] {
  width: 75%;
}
.grid-stack > .grid-stack-item[gs-x="126"] {
  left: 75%;
}
.grid-stack > .grid-stack-item[gs-min-w="126"] {
  min-width: 75%;
}
.grid-stack > .grid-stack-item[gs-max-w="126"] {
  max-width: 75%;
}
.grid-stack > .grid-stack-item[gs-w="127"] {
  width: 75.5952380952%;
}
.grid-stack > .grid-stack-item[gs-x="127"] {
  left: 75.5952380952%;
}
.grid-stack > .grid-stack-item[gs-min-w="127"] {
  min-width: 75.5952380952%;
}
.grid-stack > .grid-stack-item[gs-max-w="127"] {
  max-width: 75.5952380952%;
}
.grid-stack > .grid-stack-item[gs-w="128"] {
  width: 76.1904761905%;
}
.grid-stack > .grid-stack-item[gs-x="128"] {
  left: 76.1904761905%;
}
.grid-stack > .grid-stack-item[gs-min-w="128"] {
  min-width: 76.1904761905%;
}
.grid-stack > .grid-stack-item[gs-max-w="128"] {
  max-width: 76.1904761905%;
}
.grid-stack > .grid-stack-item[gs-w="129"] {
  width: 76.7857142857%;
}
.grid-stack > .grid-stack-item[gs-x="129"] {
  left: 76.7857142857%;
}
.grid-stack > .grid-stack-item[gs-min-w="129"] {
  min-width: 76.7857142857%;
}
.grid-stack > .grid-stack-item[gs-max-w="129"] {
  max-width: 76.7857142857%;
}
.grid-stack > .grid-stack-item[gs-w="130"] {
  width: 77.380952381%;
}
.grid-stack > .grid-stack-item[gs-x="130"] {
  left: 77.380952381%;
}
.grid-stack > .grid-stack-item[gs-min-w="130"] {
  min-width: 77.380952381%;
}
.grid-stack > .grid-stack-item[gs-max-w="130"] {
  max-width: 77.380952381%;
}
.grid-stack > .grid-stack-item[gs-w="131"] {
  width: 77.9761904762%;
}
.grid-stack > .grid-stack-item[gs-x="131"] {
  left: 77.9761904762%;
}
.grid-stack > .grid-stack-item[gs-min-w="131"] {
  min-width: 77.9761904762%;
}
.grid-stack > .grid-stack-item[gs-max-w="131"] {
  max-width: 77.9761904762%;
}
.grid-stack > .grid-stack-item[gs-w="132"] {
  width: 78.5714285714%;
}
.grid-stack > .grid-stack-item[gs-x="132"] {
  left: 78.5714285714%;
}
.grid-stack > .grid-stack-item[gs-min-w="132"] {
  min-width: 78.5714285714%;
}
.grid-stack > .grid-stack-item[gs-max-w="132"] {
  max-width: 78.5714285714%;
}
.grid-stack > .grid-stack-item[gs-w="133"] {
  width: 79.1666666667%;
}
.grid-stack > .grid-stack-item[gs-x="133"] {
  left: 79.1666666667%;
}
.grid-stack > .grid-stack-item[gs-min-w="133"] {
  min-width: 79.1666666667%;
}
.grid-stack > .grid-stack-item[gs-max-w="133"] {
  max-width: 79.1666666667%;
}
.grid-stack > .grid-stack-item[gs-w="134"] {
  width: 79.7619047619%;
}
.grid-stack > .grid-stack-item[gs-x="134"] {
  left: 79.7619047619%;
}
.grid-stack > .grid-stack-item[gs-min-w="134"] {
  min-width: 79.7619047619%;
}
.grid-stack > .grid-stack-item[gs-max-w="134"] {
  max-width: 79.7619047619%;
}
.grid-stack > .grid-stack-item[gs-w="135"] {
  width: 80.3571428571%;
}
.grid-stack > .grid-stack-item[gs-x="135"] {
  left: 80.3571428571%;
}
.grid-stack > .grid-stack-item[gs-min-w="135"] {
  min-width: 80.3571428571%;
}
.grid-stack > .grid-stack-item[gs-max-w="135"] {
  max-width: 80.3571428571%;
}
.grid-stack > .grid-stack-item[gs-w="136"] {
  width: 80.9523809524%;
}
.grid-stack > .grid-stack-item[gs-x="136"] {
  left: 80.9523809524%;
}
.grid-stack > .grid-stack-item[gs-min-w="136"] {
  min-width: 80.9523809524%;
}
.grid-stack > .grid-stack-item[gs-max-w="136"] {
  max-width: 80.9523809524%;
}
.grid-stack > .grid-stack-item[gs-w="137"] {
  width: 81.5476190476%;
}
.grid-stack > .grid-stack-item[gs-x="137"] {
  left: 81.5476190476%;
}
.grid-stack > .grid-stack-item[gs-min-w="137"] {
  min-width: 81.5476190476%;
}
.grid-stack > .grid-stack-item[gs-max-w="137"] {
  max-width: 81.5476190476%;
}
.grid-stack > .grid-stack-item[gs-w="138"] {
  width: 82.1428571429%;
}
.grid-stack > .grid-stack-item[gs-x="138"] {
  left: 82.1428571429%;
}
.grid-stack > .grid-stack-item[gs-min-w="138"] {
  min-width: 82.1428571429%;
}
.grid-stack > .grid-stack-item[gs-max-w="138"] {
  max-width: 82.1428571429%;
}
.grid-stack > .grid-stack-item[gs-w="139"] {
  width: 82.7380952381%;
}
.grid-stack > .grid-stack-item[gs-x="139"] {
  left: 82.7380952381%;
}
.grid-stack > .grid-stack-item[gs-min-w="139"] {
  min-width: 82.7380952381%;
}
.grid-stack > .grid-stack-item[gs-max-w="139"] {
  max-width: 82.7380952381%;
}
.grid-stack > .grid-stack-item[gs-w="140"] {
  width: 83.3333333333%;
}
.grid-stack > .grid-stack-item[gs-x="140"] {
  left: 83.3333333333%;
}
.grid-stack > .grid-stack-item[gs-min-w="140"] {
  min-width: 83.3333333333%;
}
.grid-stack > .grid-stack-item[gs-max-w="140"] {
  max-width: 83.3333333333%;
}
.grid-stack > .grid-stack-item[gs-w="141"] {
  width: 83.9285714286%;
}
.grid-stack > .grid-stack-item[gs-x="141"] {
  left: 83.9285714286%;
}
.grid-stack > .grid-stack-item[gs-min-w="141"] {
  min-width: 83.9285714286%;
}
.grid-stack > .grid-stack-item[gs-max-w="141"] {
  max-width: 83.9285714286%;
}
.grid-stack > .grid-stack-item[gs-w="142"] {
  width: 84.5238095238%;
}
.grid-stack > .grid-stack-item[gs-x="142"] {
  left: 84.5238095238%;
}
.grid-stack > .grid-stack-item[gs-min-w="142"] {
  min-width: 84.5238095238%;
}
.grid-stack > .grid-stack-item[gs-max-w="142"] {
  max-width: 84.5238095238%;
}
.grid-stack > .grid-stack-item[gs-w="143"] {
  width: 85.119047619%;
}
.grid-stack > .grid-stack-item[gs-x="143"] {
  left: 85.119047619%;
}
.grid-stack > .grid-stack-item[gs-min-w="143"] {
  min-width: 85.119047619%;
}
.grid-stack > .grid-stack-item[gs-max-w="143"] {
  max-width: 85.119047619%;
}
.grid-stack > .grid-stack-item[gs-w="144"] {
  width: 85.7142857143%;
}
.grid-stack > .grid-stack-item[gs-x="144"] {
  left: 85.7142857143%;
}
.grid-stack > .grid-stack-item[gs-min-w="144"] {
  min-width: 85.7142857143%;
}
.grid-stack > .grid-stack-item[gs-max-w="144"] {
  max-width: 85.7142857143%;
}
.grid-stack > .grid-stack-item[gs-w="145"] {
  width: 86.3095238095%;
}
.grid-stack > .grid-stack-item[gs-x="145"] {
  left: 86.3095238095%;
}
.grid-stack > .grid-stack-item[gs-min-w="145"] {
  min-width: 86.3095238095%;
}
.grid-stack > .grid-stack-item[gs-max-w="145"] {
  max-width: 86.3095238095%;
}
.grid-stack > .grid-stack-item[gs-w="146"] {
  width: 86.9047619048%;
}
.grid-stack > .grid-stack-item[gs-x="146"] {
  left: 86.9047619048%;
}
.grid-stack > .grid-stack-item[gs-min-w="146"] {
  min-width: 86.9047619048%;
}
.grid-stack > .grid-stack-item[gs-max-w="146"] {
  max-width: 86.9047619048%;
}
.grid-stack > .grid-stack-item[gs-w="147"] {
  width: 87.5%;
}
.grid-stack > .grid-stack-item[gs-x="147"] {
  left: 87.5%;
}
.grid-stack > .grid-stack-item[gs-min-w="147"] {
  min-width: 87.5%;
}
.grid-stack > .grid-stack-item[gs-max-w="147"] {
  max-width: 87.5%;
}
.grid-stack > .grid-stack-item[gs-w="148"] {
  width: 88.0952380952%;
}
.grid-stack > .grid-stack-item[gs-x="148"] {
  left: 88.0952380952%;
}
.grid-stack > .grid-stack-item[gs-min-w="148"] {
  min-width: 88.0952380952%;
}
.grid-stack > .grid-stack-item[gs-max-w="148"] {
  max-width: 88.0952380952%;
}
.grid-stack > .grid-stack-item[gs-w="149"] {
  width: 88.6904761905%;
}
.grid-stack > .grid-stack-item[gs-x="149"] {
  left: 88.6904761905%;
}
.grid-stack > .grid-stack-item[gs-min-w="149"] {
  min-width: 88.6904761905%;
}
.grid-stack > .grid-stack-item[gs-max-w="149"] {
  max-width: 88.6904761905%;
}
.grid-stack > .grid-stack-item[gs-w="150"] {
  width: 89.2857142857%;
}
.grid-stack > .grid-stack-item[gs-x="150"] {
  left: 89.2857142857%;
}
.grid-stack > .grid-stack-item[gs-min-w="150"] {
  min-width: 89.2857142857%;
}
.grid-stack > .grid-stack-item[gs-max-w="150"] {
  max-width: 89.2857142857%;
}
.grid-stack > .grid-stack-item[gs-w="151"] {
  width: 89.880952381%;
}
.grid-stack > .grid-stack-item[gs-x="151"] {
  left: 89.880952381%;
}
.grid-stack > .grid-stack-item[gs-min-w="151"] {
  min-width: 89.880952381%;
}
.grid-stack > .grid-stack-item[gs-max-w="151"] {
  max-width: 89.880952381%;
}
.grid-stack > .grid-stack-item[gs-w="152"] {
  width: 90.4761904762%;
}
.grid-stack > .grid-stack-item[gs-x="152"] {
  left: 90.4761904762%;
}
.grid-stack > .grid-stack-item[gs-min-w="152"] {
  min-width: 90.4761904762%;
}
.grid-stack > .grid-stack-item[gs-max-w="152"] {
  max-width: 90.4761904762%;
}
.grid-stack > .grid-stack-item[gs-w="153"] {
  width: 91.0714285714%;
}
.grid-stack > .grid-stack-item[gs-x="153"] {
  left: 91.0714285714%;
}
.grid-stack > .grid-stack-item[gs-min-w="153"] {
  min-width: 91.0714285714%;
}
.grid-stack > .grid-stack-item[gs-max-w="153"] {
  max-width: 91.0714285714%;
}
.grid-stack > .grid-stack-item[gs-w="154"] {
  width: 91.6666666667%;
}
.grid-stack > .grid-stack-item[gs-x="154"] {
  left: 91.6666666667%;
}
.grid-stack > .grid-stack-item[gs-min-w="154"] {
  min-width: 91.6666666667%;
}
.grid-stack > .grid-stack-item[gs-max-w="154"] {
  max-width: 91.6666666667%;
}
.grid-stack > .grid-stack-item[gs-w="155"] {
  width: 92.2619047619%;
}
.grid-stack > .grid-stack-item[gs-x="155"] {
  left: 92.2619047619%;
}
.grid-stack > .grid-stack-item[gs-min-w="155"] {
  min-width: 92.2619047619%;
}
.grid-stack > .grid-stack-item[gs-max-w="155"] {
  max-width: 92.2619047619%;
}
.grid-stack > .grid-stack-item[gs-w="156"] {
  width: 92.8571428571%;
}
.grid-stack > .grid-stack-item[gs-x="156"] {
  left: 92.8571428571%;
}
.grid-stack > .grid-stack-item[gs-min-w="156"] {
  min-width: 92.8571428571%;
}
.grid-stack > .grid-stack-item[gs-max-w="156"] {
  max-width: 92.8571428571%;
}
.grid-stack > .grid-stack-item[gs-w="157"] {
  width: 93.4523809524%;
}
.grid-stack > .grid-stack-item[gs-x="157"] {
  left: 93.4523809524%;
}
.grid-stack > .grid-stack-item[gs-min-w="157"] {
  min-width: 93.4523809524%;
}
.grid-stack > .grid-stack-item[gs-max-w="157"] {
  max-width: 93.4523809524%;
}
.grid-stack > .grid-stack-item[gs-w="158"] {
  width: 94.0476190476%;
}
.grid-stack > .grid-stack-item[gs-x="158"] {
  left: 94.0476190476%;
}
.grid-stack > .grid-stack-item[gs-min-w="158"] {
  min-width: 94.0476190476%;
}
.grid-stack > .grid-stack-item[gs-max-w="158"] {
  max-width: 94.0476190476%;
}
.grid-stack > .grid-stack-item[gs-w="159"] {
  width: 94.6428571429%;
}
.grid-stack > .grid-stack-item[gs-x="159"] {
  left: 94.6428571429%;
}
.grid-stack > .grid-stack-item[gs-min-w="159"] {
  min-width: 94.6428571429%;
}
.grid-stack > .grid-stack-item[gs-max-w="159"] {
  max-width: 94.6428571429%;
}
.grid-stack > .grid-stack-item[gs-w="160"] {
  width: 95.2380952381%;
}
.grid-stack > .grid-stack-item[gs-x="160"] {
  left: 95.2380952381%;
}
.grid-stack > .grid-stack-item[gs-min-w="160"] {
  min-width: 95.2380952381%;
}
.grid-stack > .grid-stack-item[gs-max-w="160"] {
  max-width: 95.2380952381%;
}
.grid-stack > .grid-stack-item[gs-w="161"] {
  width: 95.8333333333%;
}
.grid-stack > .grid-stack-item[gs-x="161"] {
  left: 95.8333333333%;
}
.grid-stack > .grid-stack-item[gs-min-w="161"] {
  min-width: 95.8333333333%;
}
.grid-stack > .grid-stack-item[gs-max-w="161"] {
  max-width: 95.8333333333%;
}
.grid-stack > .grid-stack-item[gs-w="162"] {
  width: 96.4285714286%;
}
.grid-stack > .grid-stack-item[gs-x="162"] {
  left: 96.4285714286%;
}
.grid-stack > .grid-stack-item[gs-min-w="162"] {
  min-width: 96.4285714286%;
}
.grid-stack > .grid-stack-item[gs-max-w="162"] {
  max-width: 96.4285714286%;
}
.grid-stack > .grid-stack-item[gs-w="163"] {
  width: 97.0238095238%;
}
.grid-stack > .grid-stack-item[gs-x="163"] {
  left: 97.0238095238%;
}
.grid-stack > .grid-stack-item[gs-min-w="163"] {
  min-width: 97.0238095238%;
}
.grid-stack > .grid-stack-item[gs-max-w="163"] {
  max-width: 97.0238095238%;
}
.grid-stack > .grid-stack-item[gs-w="164"] {
  width: 97.619047619%;
}
.grid-stack > .grid-stack-item[gs-x="164"] {
  left: 97.619047619%;
}
.grid-stack > .grid-stack-item[gs-min-w="164"] {
  min-width: 97.619047619%;
}
.grid-stack > .grid-stack-item[gs-max-w="164"] {
  max-width: 97.619047619%;
}
.grid-stack > .grid-stack-item[gs-w="165"] {
  width: 98.2142857143%;
}
.grid-stack > .grid-stack-item[gs-x="165"] {
  left: 98.2142857143%;
}
.grid-stack > .grid-stack-item[gs-min-w="165"] {
  min-width: 98.2142857143%;
}
.grid-stack > .grid-stack-item[gs-max-w="165"] {
  max-width: 98.2142857143%;
}
.grid-stack > .grid-stack-item[gs-w="166"] {
  width: 98.8095238095%;
}
.grid-stack > .grid-stack-item[gs-x="166"] {
  left: 98.8095238095%;
}
.grid-stack > .grid-stack-item[gs-min-w="166"] {
  min-width: 98.8095238095%;
}
.grid-stack > .grid-stack-item[gs-max-w="166"] {
  max-width: 98.8095238095%;
}
.grid-stack > .grid-stack-item[gs-w="167"] {
  width: 99.4047619048%;
}
.grid-stack > .grid-stack-item[gs-x="167"] {
  left: 99.4047619048%;
}
.grid-stack > .grid-stack-item[gs-min-w="167"] {
  min-width: 99.4047619048%;
}
.grid-stack > .grid-stack-item[gs-max-w="167"] {
  max-width: 99.4047619048%;
}
.grid-stack > .grid-stack-item[gs-w="168"] {
  width: 100%;
}
.grid-stack > .grid-stack-item[gs-x="168"] {
  left: 100%;
}
.grid-stack > .grid-stack-item[gs-min-w="168"] {
  min-width: 100%;
}
.grid-stack > .grid-stack-item[gs-max-w="168"] {
  max-width: 100%;
}